/* * {
  border: 1px solid red;
} */
nav {
  background-color: rgb(44, 30, 242);
  color: white;
  padding: 10px;
  text-align: center;
}

.container {
  background-color: rgb(228, 224, 207);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container > form {
  display: flex;
  flex-direction: column;
}

.container > h1 {
  text-align: center;
  margin: 30px;
  font-size: 2.5rem;
}

input,
textarea,
button {
  padding: 20px;
  border: 1px, solid #1a1d1f00;
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 1.2rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(30, 30, 29);
  color: white;
}

.task {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.task span {
  color: rgba(0, 0, 0, 0.674);
}

.task > div {
  width: 100%;
}

.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover {
  background-color: red;
}
